.payment {background:#fff;}
.payment_container .checkoutLink {display:block; text-align:center; padding:10px; font-size:18px; color:#333; font-weight:400; background:rgba(234, 237, 237); text-decoration: none;}
.payment_section {display:flex; padding:20px; margin:0 20px; border-bottom:1px solid #8768bf}
.payment_title {flex:0.2;}
.payment_address, .payment_items, .payment_details {flex:0.8;}
.payment_details form {max-width:400px;}